header {
    color: #0A0EAE;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

* {
    margin-left: 3;
    margin-right: auto;
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the truncated text */
    /* Other styles... */
}
    


.body {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.body ul {
    list-style-type: disc; /* or another style like circle or square */
    padding-left: 20px; /* Adjust as needed for indentation */
    line-height: 1.5;
}
